*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#musicButton {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    padding: 10px 16px;
    border: 2px solid rgb(105, 105, 105);
    background: rgba(255, 255, 255, 0.2);
    color: rgb(254, 254, 255);
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#musicButton:hover {
    background-color: transparent;
}

